<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>Ocorrências</title>
</head>

<body class="bg-slate-700">
    <h1>Lista de Ocorrências</h1>
    <!-- Contêiner para os cartões de "ocorrências" -->
    <div id="ocorrContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"></div>




    <!-- Importe o arquivo fetchData.js -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/fetchData.js"></script>


</body>

</html>